# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

#reports
/allure-*
/drivers

# production
/build
env-config.js

# IDE config
.vscode

# misc
.DS_Store
.env

wdio.log*
